:root {
  --containerW: 1152px;
  // --containerExW: 1280px;
  --contentInnerPadX: 5px;

  --transTime: 0.3s;
  --txtColor: #000;
  --txtHdrColor: #004DC0;
  --bgColor1: #ECF7FF;
  --bgColor2: #BDE2FE;
  --bgColor3: #9ED5FE;
  --bgColor9: #026AB6;
  --bgMap: #FCF4DF;
  --bodyBlockW: 1152px;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: 'Public Sans', sans-serif;
  // font-family: 'Libre Baskerville', serif;
  // 1. Public Sans Regular 113
  // 2. Libre Baskerville Regular 6
  font-weight: 400;
  color: #FFF;
}

.container {
  margin: 0 auto;
  max-width: var(--containerW);
  min-height: 10vh;
  padding-left: var(--contentInnerPadX);
  padding-right: var(--contentInnerPadX);
  position: relative;
}
