@import "../css/00_mix";

.header{
  margin: 0 auto;
  min-height: 10vh;

  // min-height: 776px;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.container_header{
  padding-top: 17px;
  padding-bottom: 40px;
  height: 100%;
}

.logoImag{
  width: 110px;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
.nav ul{
  padding-left: 0;
}
.nav li{
  list-style: none;
}
.nav li:last-child{
  margin-left: -30px;
}
.menu{
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 51px;
}
.menu__item{
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

.header__info{
  margin-top: 146px;
  max-width: 542px;
}
.header__title{
  font-family: Libre Baskerville, serif;
  font-size: 38px;
  line-height: 1.15789; /* 115.789% */
  letter-spacing: 1.2px;  
}
.header__text{
  margin-top: 29px;
  margin-bottom: 46px;
  font-size: 18px;
  line-height: 1.5556; /* 155.556% */  
}
.button_header{
  margin-top: 46px;
  color: white;

  padding: 17px 33px;
  border: 1px solid rgba(255, 255, 255, 0.30)
}

.header__trust{
  margin-top: 139px;
}
.header__trustIn{
  font-size: 15px;
  line-height: 1.6; /* 160% */
}
.header__trustTable{
  margin-top: 15px;
  display: grid;
  column-gap: 32px;
  row-gap: 17px;
  grid-template-columns: repeat(6,1fr);
}
.header__hLine{
  height: 1px;
  background: rgba(255, 255, 255, 0.60);
}
.header__hLine_h{
  display: none;
}
.header__trustReg{
  font-size: 15px;
  line-height: 1.6; /* 160% */
  white-space: nowrap;
}

@media (max-width: 1084px){  // 542px * 2
  .nav li:last-child{
    margin-left: 0;
  }  
  .header__info {
    max-width: 50%;
  }
  .header__title{
    font-size: 32px;
  }
  .header__text{
    font-size: 16px;
  }
}
@media (max-width: 700px){
  .nav{
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
  .menu{
    gap: 5px;
  }
  .header__info {
    max-width: calc(100% - var(--contentInnerPadX)*2); // 
  }    
  .header__title{
    // font-size: 32px;
    @include vVal(font-size, 700px, 320px, 32px, 20px);
  }
  .header__text{
    font-size: 16px;
    @include vVal(font-size, 700px, 320px, 16px, 10px);
  }

}
@media (max-width: 640px){ // перестраиваем гриды в header и footer
  // .header{
  //   background-position-x: -700px;
  //   // background-position-x: -436px;
  //   // background-position-x: -1148px;
  //   @include vVal(font-size, 640px, 320px, -436px, -1148px);
  // }
  .header__hLine_h{
    display: block;
  }
  .header__trustTable{
    grid-template-columns: repeat(3,1fr);
  }
  .header__trustTable .header__hLine:nth-child(4), .header__trustTable .header__hLine:nth-child(5), .header__trustTable .header__hLine:nth-child(6){
    display: none;
  }
}
@media (max-width: 400px){
  // .header{
  //   background-position-x: -860px;
  // }
  .menu {
    font-size: 12px;
  }  
  .header__trustReg {
    font-size: 12px;
  }  
}